body{
	font-family: Lucida Console, monospace;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.cell{
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-family: Lucida Console, monospace;
	position: relative;
}

.cell-state-0, .cell-state-2{
	background-color: #dedede;
}

.map{
	display:inline-grid;
	width: auto;
	border:1px solid black;
	margin-bottom: 50px;
}

.menu{
	display: inline-grid;
	grid-template-columns: 150px 150px 150px;
	width: 450;
	margin-top:20px;
	margin-bottom: 40px;
	color:#fff;
}
.menu-container{
	background-color: #666;
	border-bottom:2px solid black;
	margin-bottom: 20px;
	position: relative;
	width: 100%;
}

.main{
	text-align: center;
}

.game-stats{
	font-size:30px;
}
.game-stats > *{
	cursor:pointer;
}

.dim-but{
	cursor: pointer;
}

.res-but{
	cursor: pointer;
	font-size: 2em;
}

.dim-txt{
	font-family: Lucida Console, monospace;
	width: 50px;
	display: inline-block;
	text-align: center;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.dim-icon{
	margin-bottom: 5px;
}

.wrong-flag-x{
	color: #dedede;
	position: absolute;
	z-index:1;
	left: 8px;
	top:-1px;
	font-size: 20px;
}

.game-stats-container{
	display: inline-grid;
	grid-template-columns: 110px 230px 110px;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
	.cell{
		width: 18px;
		height: 18px;
		line-height: 18px;
		font-size: 0.8em;
	}
	.menu{
		display: inline-grid;
		grid-template-columns: 100px 100px 100px;
		width: 300;
	}
	.dim-txt{
		width: 30px;
	}
	.game-stats-container{
		display: inline-grid;
		grid-template-columns: 90px 120px 90px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}